

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s linear;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    border: solid;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 60px;
    font-family: 'arial';
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: solid;
}

.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.time span{
    font-family: 'arial';
    font-size: 250px;
}

#milisegundos{
    font-size: 100px;
}

.buttons button{
    color: #fff;
    font-size: 30px;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
}

.buttons button:hover{
    transform: scale(1.05);
}

.buttons button:active{
    transform: scale(1);
}

#startButton {
    background-color: #2e9b04;
}

#stopButton {
    background-color: #bd1000;
}

#resetButton {
    background-color: #ffcc01;
}